var merge = require('webpack-merge')
var prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  APP_TOKEN: '"<< app token >>"',
  APP_ID: '"<< app id >>"',
  FEED_GROUP: '"<< feed group >>"',
  FEED_ID: '"<< feed id >>"',
  FEED_TOKEN: '"<< feed token >>"'
})
